/* ==========================================
                Gallery
========================================== */

.gallery{

    width:720px;

    min-width:720px;

    background:#fff;

    border-left:1px solid #d9d9d9;

    display:flex;

    flex-direction:column;

}

/* ==========================================
                Header
========================================== */

.gallery-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

    border-bottom:1px solid #E5E5E5;

}

.gallery-header h2{

    font-size:20px;

    font-weight:700;

    color:#222;

}

.gallery-header span{

    padding:6px 12px;

    border-radius:20px;

    background:#EDF3FF;

    color:#2563EB;

    font-size:13px;

    font-weight:700;

}


/* ==========================================
                Grid
========================================== */

.image-grid{

    flex:1;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    justify-items:end;

    align-content:start;

    gap:18px;

    padding:20px 16px 20px 20px;

    overflow-y:auto;

}


/* ==========================================
                Card
========================================== */

.image-box{

    width:100%;

    max-width:160px;

    display:flex;

    flex-direction:column;

    align-items:center;

    cursor:pointer;

}

/* ==========================================
                Image
========================================== */

.image-box img{

    width:100%;

    aspect-ratio:3/4;

    object-fit:cover;

    border-radius:12px;

    transition:.15s;

}


/* ==========================================
                Name
========================================== */

.image-name{

    margin-top:8px;

    font-size:13px;

    font-weight:600;

    text-align:center;

}


/* ==========================================
                Hover
========================================== */

.image-box:hover img{

    transform:translateY(-2px);

    border-color:#2563EB;

    box-shadow:0 4px 12px rgba(0,0,0,.15);

}


/* ==========================================
                Selected
========================================== */

.image-box.selected img{

    border:2px solid #2563EB;

    box-shadow:0 0 0 3px rgba(37,99,235,.15);

}


/* ==========================================
                Click
========================================== */

.image-box:active img{

    transform:scale(.97);

}


/* ==========================================
                Empty Deck
========================================== */

.image-empty{

    grid-column:1/-1;

    display:flex;

    justify-content:center;

    align-items:center;

    height:250px;

    color:#999;

    font-size:15px;

}